<div class="form-group">
	 <input type="text" class="form-control username" placeholder="username">
	<input type="password" class="form-control password" placeholder="password">
</div>

<button id="btn-login"> login </button>