#header{
	float: right;
	margin-bottom: 10px;
    margin-top: 10px;
}
.poster {
	width: 100%;
	display: block;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card{
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: .25rem;
}

#flix_video{
	height: 531px;
  width: 944px;
}

@media only screen and (max-device-width: 480px) {
  #flix_video{
    height: 265px;
    width: 369px;
  }
}

.signup{
  margin-top: 60px;
}

.hidden {
  display: none;
}

.username{
  padding-right: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
}
/*
z-index: 10;
    height: 531px;
    width: 944px;
    left: auto;
    visibility: visible;
    */