#header{
	float: right;
	margin-bottom: 10px;
    margin-top: 10px;
}
.poster {
	width: 100%;
	display: block;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card{
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: .25rem;
}