body {
  padding-top: 50px;
  font-size: 18px
}
.navbar-col {
  float: left;
  height: 50px;
  padding: 15px 28px;
  font-size: 18px;
  line-height: 20px;
}
.starter-template {
  padding: 5px 15px;
  text-align: left;
}

.navbar-toggle
{
    background-color: 
}

.todo-navbar
{
    background-color: #fff;
    border-color: #fff;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 0px;
  background-color: #f5f5f5;
}

.deleteList,
.delete
{
	color: red;
  cursor: pointer;
}

#todo-body
{
  padding-top: 25px;
}

#add
{
  padding-top: 15px;
}

.view-task
{
    /*visibility:hidden; */
}

.view-task:hover
{
    visibility:visible; 
}

#done
{
  display: none;
}


.presentation
{
  background-color: #A1B8BF;
}


.nav-pills > li.list > a,
.nav-pills > li.list > a:hover,
.nav-pills > li.list > a:focus 
{
  color: #fff;
  background-color: #337ab7;
}

.nav-pills > li.task > a,
.nav-pills > li.task > a:hover,
.nav-pills > li.task > a:focus 
{
  color: #444;
  background-color: #fff;
  border: 1px solid #fff;
}

.nav-pills > li.header > a,
.nav-pills > li.header > a:hover,
.nav-pills > li.header > a:focus 
{
  color: black;
  font-weight: bolder;
  background-color: #337ab7;
  font-size: larger;
}

.list-header-text
{
  font-family: cursive;  
  font-weight: bolder;
}


.icon-group 
{
    display: block;
}

.icon-group .icon {
    /*background-color: red;*/
    padding: 15px 20px;
    display: inline-block;
    border: 1px grey solid;
    text-align: center;
    vertical-align: center;
    border-radius: 50%;
}

.icon-container
{
    display: inline-block;
}

.list-icons
{
    padding-bottom: 5px;
}

.glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}

.glyphicon-class,
.icon{
    width: 50%;
    margin: 0 auto;
}

.navbar-toggle
{
    background-color: #337ab7;
}

.icon-bar
{
  background-color: #fff;
}

.taskName
{
    color: #6D6D6D;
}
#modelName:focus 
{
  width: 97%;
}



a.disabled {
    pointer-events: none;
    color: grey;
}

#delete
{
  background-color: #CC5858;
}

#header
{
  /*padding-right: 30px;*/
}