<script id="video-lib-template" type="text/x-handlebars-template">
<p> vid template works </p>
         {{#each videos}}          
            <a href="#/view/{{_id}}">    
                <img src="{{cover}}" class='poster'/>
            </a>              
        {{/each}}
        <div><span id="next">Page {{limit}} </span> </div>
</script>