<label class="username"> {{name}} </label>
<div id="header">
	<a href="#/home"> Home </a> |
	<a href="#/AddTorrent"> Add Torrent</a> |
	<a href="#/users"> Users </a> |
	<!-- <input id="search" type="text"  placeholder="Search"> -->
	<!-- <button id="btn-search"> search </button>			 -->
	<a href="/users/logout"> Logout </a> 
</div>	