<form>
  <fieldset class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input class="form-control" id="vid-title" placeholder="title">
  </fieldset>
  <fieldset class="form-group">
    <label for="exampleInputEmail1">Image Url</label>
    <input class="form-control" id="vid-img-url" placeholder="Image url">
  </fieldset>
  <fieldset class="form-group">
    <label for="exampleInputEmail1">Video url</label>
    <input class="form-control" id="vid-url" placeholder="Video url">
  </fieldset>
  <fieldset class="form-group">
    <label for="exampleInputEmail1">Description</label>
    <textarea class="form-control" id="vid-description" placeholder="description">
    </textarea>
  </fieldset>
  <button type="submit" id="AddVid" class="btn btn-primary"> Add Video </button>
</form>