
<input type="text" name="title" id="vid-title" placeholder="title"> <br />
<input type="text" name="description" id="vid-description" placeholder="description"> <br />
<input type="text" name="url" id="vid-img-url" placeholder="image url"> <br />
<input type="text" name="url" id="vid-url" placeholder="Video url"> <br />


<button id="AddVid"> Add Video </button>