<div class="row">
 {{#each videos}}          
    <div class="card">
	    <a href="#/view/{{_id}}">    
	        <!-- <img src="{{cover}}" class='poster'/> -->
	        <img src="img/placeholder.png" class='poster'/> 
	    </a>    
		<p> {{title}}</p>    
    </div>
{{/each}}
</div>
<div><span id="next">Page {{limit}} </span> </div>
<!-- </script> -->


