<div id="header" style="display:none">
	<a href="#/home"> Home </a> |
	<!-- 
	<a href="#/AddTorrent"> Add Torrent</a>
	<input id="search" type="text"  placeholder="Search">
	<button id="btn-search"> search </button> -->			
	<a href="#/addVideo"> Post Video </a> |
	<a href="/users/logout"> Logout </a> 
</div>