<div class="signup">

  <div><a href="/auth/twitter"> Twitter login</a></div>
  <div><a href="#"> Facebook login</a></div>
  <div><a href="#"> Google login</a></div>

  <div>login / signup page</div>


  <div id="login" />
  <div id="signup" />
 </div>