<div class="signup">

  <div><a href="/auth/twitter"> Twitter login</a></div>
  <div><a href="/auth/facebook"> Facebook login</a></div>
  <div><a href="/auth/google"> Google login</a></div>
  <br />
  <div>
    {{!--click events bound in controller--}}
    <a href="#" id="login"> login </a> / <a href="#" id="signup">signup page</a>
  </div>


  <div id="login" />
  <div id="signup" />
 </div>