{{#each videos}}
                <div>{{Title}} </div>
                <div><img src="{{Poster}}" /></div>
                <div> <b><u>Plot<u></b></div>
                <label> {{Plot}} </label>
                <button id="download"> Request Future Download </button>
        {{/each}}