<div class="form-group">
	<input type="text" class="form-control displayName" placeholder ="displayName">
	<input type="text" class="form-control username" placeholder="username">
	<input type="text" class="form-control password" placeholder="password">
	<input type="text" class="form-control reentry" placeholder="confirm password">
</div>

<button id="btn-signup"> signup </button>