#header{
	float: right;
	margin-bottom: 10px;
    margin-top: 10px;
}


#users th, td{
	border: 1px solid black;
}

#torrents td{
	
}

.field {
	width: 15px;
	text-overflow: ellipsis;
}

.uri {
	width: 10%;
}

td.status{
	cursor: pointer;
}